flow.json
[
    {
        "id": "2bd2274e789770f9",
        "type": "tab",
        "label": "Desdemona",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "620f3a55dd509088",
        "type": "server",
        "name": "Home",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "4a03965dbf126e99",
        "type": "telegram bot",
        "botname": "Puzynia Home",
        "usernames": "",
        "chatids": "109994530",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c08fd05c1609c0e0",
        "type": "server-state-changed",
        "z": "2bd2274e789770f9",
        "name": "Alex not Home",
        "server": "620f3a55dd509088",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.werwolf_iphone",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "true",
                "valueType": "bool"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 460,
        "wires": [
            [
                "4a5f7f0c50fca5e3"
            ],
            []
        ]
    },
    {
        "id": "95c79ded7353da3d",
        "type": "server-state-changed",
        "z": "2bd2274e789770f9",
        "name": "Tatyana not Home",
        "server": "620f3a55dd509088",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.tatsianas_iphone",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "true",
                "valueType": "bool"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 580,
        "wires": [
            [
                "4a5f7f0c50fca5e3"
            ],
            []
        ]
    },
    {
        "id": "4a5f7f0c50fca5e3",
        "type": "function",
        "z": "2bd2274e789770f9",
        "name": "AND",
        "func": "var sensorName = msg.topic; // Assuming the topic contains the sensor name\nvar sensorState = msg.payload;\nvar sensorStates = context.get(\"sensorStates\");\n\nsensorStates[sensorName] = sensorState;\n\nvar collectedSensors = [];\nfor (var sensor in sensorStates) {\n    if (sensorStates[sensor]) {\n        collectedSensors.push(sensor)\n    }\n}\n\nreturn {\n    payload: collectedSensors.length == 2\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n// Initialize the context variable to store the sensor states\ncontext.set(\"sensorStates\", {});",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 520,
        "wires": [
            [
                "9840b06a935af036"
            ]
        ]
    },
    {
        "id": "6eac1654075bfd64",
        "type": "telegram sender",
        "z": "2bd2274e789770f9",
        "name": "Send Command",
        "bot": "4a03965dbf126e99",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1260,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9840b06a935af036",
        "type": "trigger",
        "z": "2bd2274e789770f9",
        "name": "For 10 minutes",
        "op1": "",
        "op2": "{\"type\":\"message\",\"chatId\":\"109994530\",\"content\":\"Everyone left\"}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 620,
        "wires": [
            [
                "3e8f64d2da52db09",
                "d8c1465bb39e9497"
            ]
        ]
    },
    {
        "id": "d8c1465bb39e9497",
        "type": "debug",
        "z": "2bd2274e789770f9",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 440,
        "wires": []
    },
    {
        "id": "415d98b5466ee1b7",
        "type": "inject",
        "z": "2bd2274e789770f9",
        "name": "Tatyana Away",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "device_tracker.tatsianas_iphone",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "4a5f7f0c50fca5e3"
            ]
        ]
    },
    {
        "id": "8f013009a576dca9",
        "type": "inject",
        "z": "2bd2274e789770f9",
        "name": "Tatyana at Home",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "device_tracker.tatsianas_iphone",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "4a5f7f0c50fca5e3"
            ]
        ]
    },
    {
        "id": "cd397820227432d9",
        "type": "inject",
        "z": "2bd2274e789770f9",
        "name": "Alex Away",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "device_tracker.werwolf_iphone",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "4a5f7f0c50fca5e3"
            ]
        ]
    },
    {
        "id": "08685561367cba32",
        "type": "inject",
        "z": "2bd2274e789770f9",
        "name": "Alex at Home",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "device_tracker.werwolf_iphone",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "4a5f7f0c50fca5e3"
            ]
        ]
    },
    {
        "id": "3e8f64d2da52db09",
        "type": "function",
        "z": "2bd2274e789770f9",
        "name": "Start Desdemona?",
        "func": "var payload = {\n    \"type\": \"message\",\n    \"chatId\": \"109994530\",\n    \"content\": \"Do you want to start Desdomna?\",\n    \"options\": {\n        \"reply_markup\": JSON.stringify({\n            \"inline_keyboard\": [[\n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"desdemona.no\"\n                },\n                {\n                    \"text\": \"Kitchen x2 + rest\",\n                    \"callback_data\": \"desdemona.kitchen.x2.rest\"\n                },\n                {\n                    \"text\": \"Kitchen x2 only\",\n                    \"callback_data\": \"desdemona.kitchen.x2\"\n                },\n                {\n                    \"text\": \"Full\",\n                    \"callback_data\": \"desdemona.full\"\n                }]]\n            }\n        )\n    },\n    \"error\": false\n}\n\nreturn {\n    \"payload\": payload\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 620,
        "wires": [
            [
                "6eac1654075bfd64",
                "d8c1465bb39e9497"
            ]
        ]
    },
    {
        "id": "16853c6578273382",
        "type": "telegram event",
        "z": "2bd2274e789770f9",
        "name": "",
        "bot": "4a03965dbf126e99",
        "event": "callback_query",
        "autoanswer": false,
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "0b86a3a1309c8e89"
            ]
        ]
    },
    {
        "id": "0b86a3a1309c8e89",
        "type": "function",
        "z": "2bd2274e789770f9",
        "name": "Desdemona Callback",
        "func": "const content = msg.payload.content;\nif (!content.startsWith(\"desdemona.\")) {\n    return;\n}\n\nconst action = content.substring(\"desdemona.\".length);\n\nconst result = {\n    callbackQuery: msg,\n    payload: {\n        type: \"message\",\n        chatId: msg.payload.chatId\n    }\n}\n\nif (action == \"no\") {\n    result.payload.content = \"Ok! Let's clean next time ;)\";\n    return [result, null, null, null, null];\n} else if (action == \"kitchen.x2.rest\") {\n    result.payload.content = \"Will clean kitchen twice first and then rest (Not implemented yet :()\";\n    return [null, result, null, null, null];\n} else if (action == \"kitchen.x2\") {\n    result.payload.content = \"Will clean kitchen twice only (Not implemented yet :()\";\n    return [null, null, result, null, null];\n} else if (action == \"full\") {\n    result.payload.content = \"Will perform full clean (Not implemented yet :()\";\n    return [null, null, null, result, null];\n} else {\n    result.payload.content = `Unknow command ${action}`;\n    return [null, null, null, null, msg];\n}\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1000,
        "wires": [
            [
                "543156828cfb4e5a"
            ],
            [
                "663da4bdee567fa2"
            ],
            [
                "e9d9cbe925f09652"
            ],
            [
                "f8776667fd6fcd84"
            ],
            [
                "7aef59d33e4d627c"
            ]
        ]
    },
    {
        "id": "543156828cfb4e5a",
        "type": "telegram sender",
        "z": "2bd2274e789770f9",
        "name": "No cleaning",
        "bot": "4a03965dbf126e99",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 880,
        "wires": [
            [
                "4988483d4406e7f1"
            ]
        ]
    },
    {
        "id": "663da4bdee567fa2",
        "type": "telegram sender",
        "z": "2bd2274e789770f9",
        "name": "Kitchen x2 + Rest",
        "bot": "4a03965dbf126e99",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1050,
        "y": 940,
        "wires": [
            [
                "4988483d4406e7f1"
            ]
        ]
    },
    {
        "id": "e9d9cbe925f09652",
        "type": "telegram sender",
        "z": "2bd2274e789770f9",
        "name": "Kitchen x2",
        "bot": "4a03965dbf126e99",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 1000,
        "wires": [
            [
                "4988483d4406e7f1"
            ]
        ]
    },
    {
        "id": "f8776667fd6fcd84",
        "type": "telegram sender",
        "z": "2bd2274e789770f9",
        "name": "Full",
        "bot": "4a03965dbf126e99",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1010,
        "y": 1060,
        "wires": [
            [
                "4988483d4406e7f1"
            ]
        ]
    },
    {
        "id": "7aef59d33e4d627c",
        "type": "telegram sender",
        "z": "2bd2274e789770f9",
        "name": "Unknown command",
        "bot": "4a03965dbf126e99",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1060,
        "y": 1120,
        "wires": [
            [
                "4988483d4406e7f1"
            ]
        ]
    },
    {
        "id": "4988483d4406e7f1",
        "type": "debug",
        "z": "2bd2274e789770f9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 980,
        "wires": []
    }
]